/* Establecer el box model en border-box para todos los elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Establecer el estilo de texto predeterminado */
body {
    font-family: Arial, sans-serif;
}

/* Eliminar decoraciones de enlace */
a {
    text-decoration: none;
    color: inherit; /* Heredar el color del texto del padre */
}

/* Eliminar viñetas de lista */
ul, ol {
    list-style: none;
}

/* Eliminar márgenes y espaciado en elementos de lista */
li {
    margin: 0;
    padding: 0;
}

/* Eliminar estilos de texto predeterminados */
p {
    margin: 0;
}

/* Eliminar decoraciones de encabezados */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

/* Establecer márgenes en elementos de encabezado */
h1, h2, h3 {
    margin-bottom: 10px;
}